/* SCSS HEX */
$paynes-gray: #48556Aff;
$cadet-gray: #91A0B5ff;
$alice-blue: #EDF2F8ff;
$white: #FEFEFFff;

@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@500;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: $alice-blue;
    font-family: 'Manrope', sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    overflow: hidden;
    margin: 0;

    .container {
        background: $white;
        display: flex;
        border-radius: 10px;
        max-width: 1100px;
        height:auto;
        // overflow: hidden;
        // height: 320px;

            .picBox {
                background-image: url("../../images/drawers.jpg");
                background-size: cover;
                background-repeat: no-repeat;
                width: 100%;
                background-position: 50% 30%;
                max-width: 450px;
            }
        
            .textBox {
                position: relative;
                max-width: 900px;
                padding: 40px;

                h2 { 
                    margin-bottom: 20px;
                }

                p {
                    line-height: 1.6;
                    font-size: 15px;
                }

                .idBox {
                    display: flex;
                    width: 100%;
                    margin: 20px 0 0 0;
                    // justify-content: center;
                    align-items: center;

                    p {
                        font-size:12px;
                    }
                    
                    img {
                        height: 50px;
                        width: 50px;
                        border-radius: 100%;
                        margin-right: 10px;
                    }
                }

                .share {
                    background: $paynes-gray;
                    position:absolute;
                    right: 65px;
                    top: 270px;
                    width: 30px;
                    height: 30px;
                    color: #fff;
                    border-radius: 100%;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                }

                .socialBox{
                        display: flex;
                        background: $paynes-gray;
                        width: 200px;
                        height: 50px;
                        border-radius: 10px;
                        position:absolute;
                        left: 350px;
                        top: 200px;
                }

                .hide {
                    display:none;
                }
            }
        }
}